<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button> -->

    <span class="spacer"></span>

    <div>
      <button mat-button (click)="onLogoutClicked()">{{ 'general.logout' | translate }}</button>
      <button mat-button [matMenuTriggerFor]="languageMenu">EN</button>

      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="onLanguageSelect('en')">
          <span>English (United States)</span>
        </button>

        <button mat-menu-item (click)="onLanguageSelect('vi')">
          <span>Tiếng Việt (Việt Nam)</span>
        </button>

      </mat-menu>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
