<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular NgRx Material Starter</span>

    <span class="spacer"></span>

    <div>
      <button *ngIf="!(loggedIn$ | async)" mat-button routerLink="login">Login</button>
      <button *ngIf="loggedIn$ | async" mat-button routerLink="admin">Dashboard</button>
      <button mat-button [matMenuTriggerFor]="languageMenu">
        {{ selectedLanguage$ | async | uppercase }}
      </button>

      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="onLanguageSelect('en')">
          <span>English (United States)</span>
        </button>

        <button mat-menu-item (click)="onLanguageSelect('vi')">
          <span>Tiếng Việt (Việt Nam)</span>
        </button>

      </mat-menu>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
